/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.curriculum-calendar {
  display: flex;
  flex-wrap: wrap;
}

h1, h3 {
  color: #2c3e50;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 24px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  overflow-x: hidden;
}

.left-panel {
  flex: 1;
  width: 25%;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
}

.panel {
  flex: 1;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: auto;
}

.right-panel {
  flex: 2;
  max-width: 75%;
  margin-left: 1rem;
  box-sizing: border-box;
 
  margin-top: 20;
  padding: "20px";
  background-color: "#fff";
  color: "#000";
  width: "100%";
  box-sizing: "border-box";

}

.journey-container {
  display: grid;
}

.calendar {
  padding: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

button {
  background-color: rgb(32, 65, 152);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(20, 46, 117);
}

/* Theme Selection */
.calendar div label input[type="checkbox"] {
  margin: 0.5rem;
}

.calendar div label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.calendar div label:hover {
  background-color: #d5dbdb;
}

/* Displaying Selected Themes */
.journey-details {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.journey-card {
  min-width: 300px;
  background-color: rgb(32, 65, 152);
  color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.journey-details ul {
  padding-left: 1.5rem;
  margin-top: 0.5rem;
  list-style-type: disc;
}

/* Days of the Week */
.days-container label {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.days-container label:hover,
.days-container label input[type="checkbox"]:checked + label {
  background-color: #d5dbdb;
}

/* Hours Selection */
.hours-container select {
  padding: 0.5rem;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 1rem;
}

/* Date Picker */
input[type="date"] {
  padding: 0.5rem;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 1rem;
}

/* End Date Calculation */
.end-date {
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #ecf0f1;
  border-radius: 5px;
  text-align: center;
}

/* General Improvements */
.card {
  padding: 1rem;
  border: 1px solid #bdc3c7;
  border-radius: 10px;
  background-color: #ecf0f1;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #d5dbdb;
}

.button-container {
  text-align: center;
  margin-top: 2rem;
}

/* Right Panel - Sticky Section for Key Metrics */
.key-metrics {
  display: flex;
  justify-content: space-between;
  background-color: #f0f8ff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.key-metrics .metric-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  width: calc(50% - 1rem);
  margin-bottom: 1rem;
}


@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .key-metrics {
    flex-direction: column;
  }

  .key-metrics .metric-box {
    width: 100%;
    margin-bottom: 1rem;
  }
  .theme-selection {
    flex-direction: column;
  }

  .journey-card {
    margin-bottom: 20px;
  }

  .checkbox-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .curriculum-calendar{
    display: grid;
  }

  .left-panel{
    width: 100%;
  }
}

